#SPDX-License-Identifier: MIT-0
---
# Tmux setup tasks for roles/dotfiles

- name: Install tmux
  ansible.builtin.apt:
    name: tmux
    state: present
    update_cache: true
    cache_valid_time: 3600
  tags:
    - tmux

- name: Clone TPM (Tmux Plugin Manager) for {{ item.user }}
  ansible.builtin.git:
    repo: "{{ dotfiles_tmux_tpm_repo }}"
    dest: "{{ user_home }}/.tmux/plugins/tpm"
    version: "{{ dotfiles_tmux_tpm_version }}"
    update: true
    accept_hostkey: true
  become: "{{ item.user != ansible_user }}"
  become_user: "{{ item.user if item.user != ansible_user else omit }}"
  loop: "{{ dotfiles_user_configs.users }}"
  loop_control:
    label: "{{ item.user }}"
  vars:
    user_home: "{{ item.home | default('/home/' + item.user) }}"
  tags:
    - tmux

- name: Ensure parent directory exists for tmux config {{ file.dest }} of {{ user.user }}
  ansible.builtin.file:
    path: "{{ (user_home + '/' + file.dest) | dirname }}"
    state: directory
    owner: "{{ user.user }}"
    group: "{{ user.user }}"
    mode: '0755'
  loop: "{{ dotfiles_user_configs.users | product(dotfiles_tmux_files) | list }}"
  loop_control:
    label: "{{ user.user }}:{{ file.dest }}"
  vars:
    user: "{{ item.0 }}"
    file: "{{ item.1 }}"
    user_home: "{{ item.0.home | default('/home/' + item.0.user) }}"
  tags:
    - tmux

- name: Create tmux symlink {{ file.src }} -> {{ file.dest }} for {{ user.user }}
  ansible.builtin.file:
    src: "{{ user_home }}/{{ dotfiles_user_configs.clone_dir }}/{{ file.src }}"
    dest: "{{ user_home }}/{{ file.dest }}"
    state: link
    force: true
    owner: "{{ user.user }}"
    group: "{{ user.user }}"
    follow: false
  loop: "{{ dotfiles_user_configs.users | product(dotfiles_tmux_files) | list }}"
  loop_control:
    label: "{{ user.user }}:{{ file.src }}"
  vars:
    user: "{{ item.0 }}"
    file: "{{ item.1 }}"
    user_home: "{{ item.0.home | default('/home/' + item.0.user) }}"
  tags:
    - tmux

- name: Run TPM install_plugins for {{ item.user }}
  ansible.builtin.command:
    cmd: "{{ user_home }}/.tmux/plugins/tpm/bin/install_plugins"
  become: "{{ item.user != ansible_user }}"
  become_user: "{{ item.user if item.user != ansible_user else omit }}"
  loop: "{{ dotfiles_user_configs.users }}"
  loop_control:
    label: "{{ item.user }}"
  vars:
    user_home: "{{ item.home | default('/home/' + item.user) }}"
  when: dotfiles_tmux_install_plugins | bool
  changed_when: false
  tags:
    - tmux
